@{
    ViewData["Title"] = "Home Page";
}

<!-- main-title start -->
<section class="main-title-section text-center py-3" style="background-image: url('@Url.Content("~/Image/main_title.png")');">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-4">
                <h1>開啟自由工作之旅，你的選擇，無限可能。</h1>                
                @*<div class="container">
                <div class="col-md-4">
                <a>@Html.ActionLink("找專家", "Index", "Home", new { area = "" }, new { @class = "a" })</a>
                <a>@Html.ActionLink("找接案", "Index", "Home", new { area = "" }, new { @class = "a" })</a>
                </div>
                <div></div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- main-title end -->

<!-- search start -->
<section class="search-section py-3">
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0" placeholder="Keyword" />
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Category</option>
                                <option value="1">Category 1</option>
                                <option value="2">Category 2</option>
                                <option value="3">Category 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Location</option>
                                <option value="1">Location 1</option>
                                <option value="2">Location 2</option>
                                <option value="3">Location 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a>@Html.ActionLink("搜尋", "Index", "Home", new { area = "" }, new { @class = "btn btn-dark border-0 w-100" })</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search end -->

<!-- job-listing start  -->
<section class="job_listing-section py-3">
    <div class="job_listing_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>特色工作</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brouse_job text-right">
                        @*<a href="jobs.html" class="boxed-btn4">Browse More Job</a>*@
                        <a>@Html.ActionLink("Browse More Job", "Index", "Home", new { area = "" }, new { @class = "boxed-btn4" })</a>
                    </div>
                </div>
            </div>
            <div class="job_lists">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Software Engineer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    @*<a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">      
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Digital Marketer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    @*<a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Wordpress Developer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    @*<a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center"> 
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Visual Designer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                  @*  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Software Engineer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    @*<a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center"> 
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Creative Designer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    @*<a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>*@
                                    <a>@Html.ActionLink("Apply Now", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
</section>
<!-- job-listing end  -->

<!-- expert start -->
<section class="expert-section py-3">
    <div class="container" data-aos="fade-down">
        <div class="row">
            <div class="col-12">
                <h3 class="title">精選專家</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!--== Start Team Item ==-->
                <div class="team-item">
                    <div class="thumb">
                        <a href="candidate-details.html">
                            <img src="~/Images/1.jpg"
                                 width="160"
                                 height="160"
                                 alt="Image-HasTech" />
                        </a>                       
                    </div>
                    <div class="content">
                        <h4 class="title">
                            <a href="candidate-details.html">Marco</a>
                        </h4>
                        <h5 class="sub-title">溜狗專家</h5>
                        <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <p class="desc">
                            This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
               @*         <a class="btn-theme btn-white btn-sm"
                           href="candidate-details.html">詳細資料</a>*@
                        @Html.ActionLink("詳細資料", "", "", new { area = "" }, new { @class = "btn btn btn-outline-primary me-md-2" })
                    </div>
                </div>
                <!--== End Team Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!--== Start Team Item ==-->
                <div class="team-item">
                    <div class="thumb">
                        <a href="candidate-details.html">
                            <img src="~/Images/2.jpg"
                                 width="160"
                                 height="160"
                                 alt="Image-HasTech" />
                        </a>
                    </div>
                    <div class="content">
                        <h4 class="title">
                            <a href="candidate-details.html">Selina</a>
                        </h4>
                        <h5 class="sub-title">餵貓大師</h5>
                        <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <p class="desc">
                            This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
        @*                <a class="btn-theme btn-white btn-sm"
                           href="candidate-details.html">詳細資料</a>*@
                        @Html.ActionLink("詳細資料", "", "", new { area = "" }, new { @class = "btn btn btn-outline-primary me-md-2" })
                    </div> 
                </div>
                <!--== End Team Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!--== Start Team Item ==-->
                <div class="team-item">
                    <div class="thumb">
                        <a href="candidate-details.html">
                            <img src="~/Images/3.jpg"
                                 width="160"
                                 height="160"
                                 alt="Image-HasTech" />
                        </a>
                    </div>
                    <div class="content">
                        <h4 class="title">
                            <a href="candidate-details.html">Ann</a>
                        </h4>
                        <h5 class="sub-title">垃圾大王</h5>
                        <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <p class="desc">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                        </p>
@*                        <a class="btn-theme btn-white btn-sm"
                           href="candidate-details.html">詳細資料</a>*@
                        @Html.ActionLink("詳細資料", "", "", new { area = "" }, new { @class = "btn btn btn-outline-primary me-md-2" })
                    </div>
                </div>
                <!--== End Team Item ==-->
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!--== Start Team Item ==-->
                <div class="team-item">
                    <div class="thumb">
                        <a href="candidate-details.html">
                            <img src="~/Images/4.jpg"
                                 width="160"
                                 height="160"
                                 alt="Image-HasTech" />
                        </a>
                    </div>
                    <div class="content">
                        <h4 class="title">
                            <a href="candidate-details.html">Leo</a>
                        </h4>
                        <h5 class="sub-title">洗碗高手</h5>
                        <div class="rating-box">
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                            <i class="icofont-star"></i>
                        </div>
                        <p class="desc">
                            This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
               @*         <a class="btn-theme btn-white btn-sm"
                           href="candidate-details.html">詳細資料</a>*@
                        @Html.ActionLink("詳細資料", "", "", new { area = "" }, new { @class = "btn btn btn-outline-primary me-md-2" })
                    </div>
                </div>
                <!--== End Team Item ==-->
            </div>
        </div>
    </div>
</section>
<!-- expert end -->

<!-- customer start -->
<section class="customer-section py-3">
    <div class="container">
        <h3>客戶怎麼說</h3>
        <div class="row">
            <!-- card 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <!-- card 4 -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- customer end -->

<!--== Start Testimonial Area Wrapper ==-->
<section class="testimonial-area bg-color-gray">
    <div class="container" data-aos="fade-down">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h3 class="title">Our Happy Clients</h3>
                    <div class="desc">
                        <p>Many desktop publishing packages and web page editors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper testi-slider-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="static/picture/15.webp"
                                                 width="75"
                                                 height="75"
                                                 alt="Image-HasTech" />
                                        </div>
                                        <div class="testi-info">
                                            <h4 class="name">Roselia Hamets</h4>
                                            <span class="designation">Hiring Manager</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p class="desc">
                                            It is a long established fact that reader will
                                            distracted the readable content page looking at
                                            its layout point using that has more-or-less
                                            normal distribution of letters opposed using
                                            content making.
                                        </p>
                                        <div class="rating-box">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <div class="testi-quote">
                                            <img src="static/picture/quote1.webp"
                                                 alt="Image-HasTech" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="swiper-slide">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="static/picture/23.webp"
                                                 width="75"
                                                 height="75"
                                                 alt="Image-HasTech" />
                                        </div>
                                        <div class="testi-info">
                                            <h4 class="name">Assunta Manson</h4>
                                            <span class="designation">Hiring Manager</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p class="desc">
                                            It is a long established fact that reader will
                                            distracted the readable content page looking at
                                            its layout point using that has more-or-less
                                            normal distribution of letters opposed using
                                            content making.
                                        </p>
                                        <div class="rating-box">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <div class="testi-quote">
                                            <img src="static/picture/quote1.webp"
                                                 alt="Image-HasTech" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="swiper-slide">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="static/picture/33.webp"
                                                 width="75"
                                                 height="75"
                                                 alt="Image-HasTech" />
                                        </div>
                                        <div class="testi-info">
                                            <h4 class="name">Amira Shepard</h4>
                                            <span class="designation">Hiring Manager</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p class="desc">
                                            It is a long established fact that reader will
                                            distracted the readable content page looking at
                                            its layout point using that has more-or-less
                                            normal distribution of letters opposed using
                                            content making.
                                        </p>
                                        <div class="rating-box">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <div class="testi-quote">
                                            <img src="static/picture/quote1.webp"
                                                 alt="Image-HasTech" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="swiper-slide">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="static/picture/43.webp"
                                                 width="75"
                                                 height="75"
                                                 alt="Image-HasTech" />
                                        </div>
                                        <div class="testi-info">
                                            <h4 class="name">Joshua George</h4>
                                            <span class="designation">Hiring Manager</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p class="desc">
                                            It is a long established fact that reader will
                                            distracted the readable content page looking at
                                            its layout point using that has more-or-less
                                            normal distribution of letters opposed using
                                            content making.
                                        </p>
                                        <div class="rating-box">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <div class="testi-quote">
                                            <img src="static/picture/quote1.webp"
                                                 alt="Image-HasTech" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                        <div class="swiper-slide">
                            <!--== Start Testimonial Item ==-->
                            <div class="testimonial-item">
                                <div class="testi-inner-content">
                                    <div class="testi-author">
                                        <div class="testi-thumb">
                                            <img src="static/picture/52.webp"
                                                 width="75"
                                                 height="75"
                                                 alt="Image-HasTech" />
                                        </div>
                                        <div class="testi-info">
                                            <h4 class="name">Rosie Patton</h4>
                                            <span class="designation">Hiring Manager</span>
                                        </div>
                                    </div>
                                    <div class="testi-content">
                                        <p class="desc">
                                            It is a long established fact that reader will
                                            distracted the readable content page looking at
                                            its layout point using that has more-or-less
                                            normal distribution of letters opposed using
                                            content making.
                                        </p>
                                        <div class="rating-box">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <div class="testi-quote">
                                            <img src="static/picture/quote1.webp"
                                                 alt="Image-HasTech" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Testimonial Item ==-->
                        </div>
                    </div>

                    <!--== Add Swiper Pagination ==-->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Testimonial Area Wrapper ==-->

<!-- job_searcing_wrap start  -->
<section class="searcing-wrap-section py-3">
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3 class="searching_text">Looking for a Job?</h3>
                        <p>發現你的自由之旅，打造多元職涯。</p>
                        <a>@Html.ActionLink("找工作", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3 class="searching_text">Looking for a Expert?</h3>
                        <p>尋找專家，一同創造未來，無論何時何地。</p>
                        <a>@Html.ActionLink("找專家", "Index", "Home", new { area = "" }, new { @class = "boxed-btn3" })</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- job_searcing_wrap end  -->

<!-- Section -->
<section class="-section py-3 mb-4">
    <div class="container">
        <h3>文章區</h3>
        <div class="row  text-center">
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
